body {
display: flex;
justify-content: center;
align-items: center;
flex-direction: column;
}

.player-panel {
    display: flex;
    font-size: 32px;
}

.player-panel div {
    display: flex;
    align-items: center;
    margin-right: 16px;
    margin-left: 16px;
    margin-bottom: 32px;
}

.player-panel img {
    width: 60px;
    height: 60px;
    margin-right: 16px;
}

.player-inactive {
    opacity: 0.2;
}

table {
    border-collapse: collapse;
}

tr {
    width: 400px;
}

td {
    position: relative;
    width: 133px;
    height: 133px;
    border: 5px solid black;
    cursor: pointer;
}

td:hover {
    background-color: rgb(240, 184, 55, 0.2);
}

tr:first-child td {
    border-top: 0; 
}

tr td:first-child {
    border-left: 0;
}

table tr:last-child td {
    border-bottom: 0px;
}

table tr td:last-child {
    border-right: 0;
}

.shape {
    position: absolute;
    width: 80px;
    height: 80px;
    top: 26px;
    left: 26px;
}

.d-none {
    display: none;
}

.horizontal-line {
    position: absolute;
    height: 10px;
    width: 350px;
    background-color: rgba(0,0,0,0.5);
    transform: scaleX(0.0);
    transform: scaleY(0.0);
    transition: transform 224ms ease-in-out;
    z-index: 1;
}

.make-vertical {
    transform: rotate(90deg) scaleX(0.0);
    z-index: 1;
}

.game-over {
    position: absolute;
    left: 0;
    right: 0;
    width: 100%;
    z-index: 2;
    animation: zoomIn 225ms ease-in-out;
}

@keyframes zoomIn {
    from{
        opacity: 0;
        transform: scale(0);
    }
    to{
        opacity: 1;
        transform: scale(1);
    }
}

.restart-button {
    border: 1px solid rgb(240, 184, 55, 0.8);
    background-color: rgb(240, 184, 55, 0.2);
    z-index: 2;
    width: 300px;
    height: 100px;
    color: black;
    font-size: 40px;
    cursor: pointer;
    position: absolute;
    bottom: 150px;

}

.restart-button:hover {
    background-color: rgba(240, 184, 55, 0.1);
}

